<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image" href="images/King_Jay.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet">
    <title>Database Login</title>
</head>
<body>

    <nav class="nav">
        <div class="container-nav">
            <h1 class="logo"><li><a href='/loggedout'><%=uname%>'s Account</a></li></h1>
            <ul>
                <li><a href='/edituser'>Edit User</a></li>
                <li><a href='/admin'>Admin</a></li>
                <li><a href='/index' class="">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="bg-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="container">

        <form class='my-form' action="edituser" method="POST">

            <h1>Change Password</h1>

            <div class ="form-control">
                <p class ="text2"><%=uname%></p>
            </div> 

            <div class="form-control">
                <i class="fa-solid fa-lock-open"></i>
            <input type="password" id="password" name="password" value="<%=password%>" required>
            <label>Password</label>
            </div>

            <button class="btn" id="button">Submit</button>        

        </form>

    </div>

    <div class="footer">
            
    </div>

    <script src="js/script.js"></script>
</body>
</html>