<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image" href="images/King_Jay.png">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet">

    <title>Database Login</title>
</head>

<body>

    <nav class="nav">
        <div class="container-nav">
            <h1 class="logo"><li><a href='/loggedout'>Welcome</a></li></h1>
            <ul>
                <li><a href='/register' class="">Register</a></li>
            </ul>
        </div>
    </nav>

    <div class="bg-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="container">

        <form class='my-form'action="loggedin" method="POST">

            <h1>Please Login</h1>

            <div class ="form-control">
                <i class="login__icon fas fa-user"></i>
                <input type="text" id="username" name="username" required>
                <label>Username</label>
            </div> 

            <div class="form-control">
                <i class="login__icon fas fa-lock"></i>
                <i class="eye__icon far fa-eye" id="togglePassword" onclick="myFunction()"></i>
                <input type="password" id="password" name="password" required>
                <label>Password</label>
            </div>
         
            <button class="btn">Login</button>

            <p id="message"><%=message%></p>           


            <p class="text">Don't have an account?
                <a href="register">Register</a></p>
        </form>

        <div class="footer">
            
            </div>
            
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>