<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image" href="images/King_Jay.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet">

    <title>Logged In</title>
</head>

<body>
    
    <nav class="nav">
        <div class="container-nav">
            <h1 class="logo"><li><a href='/index'><%=uname%>'s Account</a></li></h1>
            <ul>
                <li><a href='/edituser'>Edit User</a></li>
                <li><%-admin%></li>
                <li><a href='/index' class="">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="clock-shapes">
        <div class="clock-shape"><h1>12</h1></div>
        <div class="clock-shape"></div>
        <div class="clock-shape"></div>
        <div class="clock-shape"><h1>3</h1></div>
        <div class="clock-shape"></div>
        <div class="clock-shape"></div>
        <div class="clock-shape"><h1>6</h1></div>
        <div class="clock-shape"></div>
        <div class="clock-shape"></div>
        <div class="clock-shape"><h1>9</h1></div>
        <div class="clock-shape"></div>
        <div class="clock-shape"></div>

    </div>

    <div class="container-welcome">

    <!-- <h2>Welcome<br><%=uname%></h2>     -->

     <div class='clock-container'>
        <div class="clock">
            <div class="needle hour"></div>
            <div class="needle minute"></div>
            <div class="needle second"></div>
            <div class="centre-point"></div>
        </div>
        <!-- <div class="datetime">
            <div class="time"></div>
            <div class="date"></div>
        </div> -->
    </div>
    <div class="datetime">
        <div class="time"></div>
        <div class="date"></div>
    </div>

    </div>
</div>
 
    <div class="footer">       
    </div>

    <script src="js/script.js"></script>
</body>
</html>