@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  --icon-color: rgb(8, 70, 121);
  --link-color: #f09819;
  --pri-color: steelblue;
  --sec-color: lightblue;
  --hoverTable: #d1daec;
  --selectTable: #aab7d1;
  --clock: var(--hoverTable);
  --secondHand: #e74c3c;
  --clock-grad-pri1: #050505;
  --clock-grad-pri2: #525150;
  --clock-grad-sec1: #f6f7f8ab;
  --clock-grad-sec2: #c0ccd48e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "sans-serif";
  background-color: var(--pri-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* SHAPES SECTION */

.bg-shapes {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: -1;
}
.bg-shapes .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

/* CONTAINER SECTION */

.container {
  max-width: 1200px;
}

.container-welcome {
  height: 100%;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 10px;
  padding: 10% 10%;
  text-transform: capitalize;
}

.container h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 10% auto;
}

.container a {
  text-decoration: none;
  color: var(--sec-color);
}

.container a:hover {
  text-decoration: underline;
  color: var(--icon-color);
  font-weight: bold;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(
    144deg,
    var(--pri-color),
    var(--sec-color) 50%,
    var(--pri-color)
  );
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: black;
}

.btn:active {
  transform: scale(0.98);
}

#message {
  color: yellow;
}

.text {
  margin-top: 30px;
}

.text1 {
  float: left;
  font-size: 14px;
  margin-top: 10px;
}

.text2 {
  float: right;
  font-size: 14px;
  margin-top: 10px;
}

.text3 {
  font-size: 18px;
  color: white;
}

.text3:before {
  font-size: 18px;
  color: var(--sec-color);
  content: "Username ";
}

.my-form {
  height: 480px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.login__icon,
.fa-solid {
  position: absolute;
  top: 30px;
  right: 0px;
  color: rgb(70, 105, 180);
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: var(--sec-color);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--icon-color);
  transform: translateY(-30px);
}

/* NAVIGATION SECTION */

.container-nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: var(--icon-color);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.logo li {
  display: flex;
  list-style-type: none;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: black;
}

.nav.active .container {
  padding: 10px;
}

.nav a.current,
.nav a:hover {
  color: var(--link-color);
  font-weight: bold;
}

.nav .container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}

/* FOOTER SECTION */

.footer {
  position: fixed;
  background-color: var(--icon-color);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#removeAdminBtn,
#makeAdminBtn,
#deleteUserBtn {
  position: relative;
  cursor: pointer;
  background: var(--icon-color);
  width: auto;
  color: white;
  padding: 5px;
  font-family: inherit;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
}

#deleteUserBtn:hover,
#makeAdminBtn:hover,
#removeAdminBtn:hover {
  color: var(--link-color);
  font-weight: bold;
}

#deleteUserBtn:active,
#makeAdminBtn:active,
#removeAdminBtn:active {
  transform: scale(0.98);
}

#removeAdminBtn:disabled,
#makeAdminBtn:disabled,
#deleteUserBtn:disabled {
  color: rgb(104, 103, 103);
  cursor: not-allowed;
}

#removeAdminBtn:disabled:hover,
#makeAdminBtn:disabled:hover,
#deleteUserBtn:disabled:hover {
  color: rgb(163, 3, 3);
  text-decoration: line-through;
  text-decoration-color: red;
  cursor: not-allowed;
}

/* CLOCK SECTION */

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 500px;
  height: 500px;
}

.needle {
  background-color: var(--clock);
  position: absolute;
  top: 100%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 175px;
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 270px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 270px;
  background-color: var(--secondHand);
}

.centre-point {
  background-color: var(--secondHand);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.centre-point::after {
  content: "";
  background-color: var(--clock);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.datetime {
  color: var(--pri-color);
  position: relative;
}

.time {
  color: var(--pri-color);
  position: relative;
  font-size: 50px;
}

.date {
  color: var(--pri-color);
  /* color: var(--sec-color); */
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: captalize;
}

.date .circle {
  background-color: inherit;
  /* color: black; */
  color: var(--pri-color);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  transition: all 0.5s ease-in;
  font-size: 16px;
}

.clock-shapes {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: -1;
  font-size: 1rem;
}
.clock-shapes .clock-shape {
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  font-size: 1rem;
}

.clock-shapes h1 {
  color: steelblue;
  font-size: 35px;
  position: inline;
  text-align: center;
  margin: auto;
}
/* 12 */
.clock-shape:first-child {
  background: linear-gradient(
    to bottom,
    var(--clock-grad-pri1),
    var(--clock-grad-pri2)
  );
  top: 5px;
  right: 190px;
}
/* 1 */
.clock-shape:nth-child(2) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  top: 47px;
  right: 39px;
}
/* 2 */
.clock-shape:nth-child(3) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  top: 157px;
  right: -71px;
}
/* 3 */
.clock-shape:nth-child(4) {
  background: linear-gradient(
    to left,
    var(--clock-grad-pri1),
    var(--clock-grad-pri2)
  );
  top: 310px;
  right: -107px;
}
/* 4 */
.clock-shape:nth-child(5) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  top: 465px;
  right: -62px;
}
/* 5 */
.clock-shape:nth-child(6) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  top: 570px;
  right: 53px;
}
/* 6 */
.clock-shape:nth-child(7) {
  background: linear-gradient(
    to top,
    var(--clock-grad-pri1),
    var(--clock-grad-pri2)
  );
  left: 173px;
  bottom: -130px;
}
/* 7 */
.clock-shape:nth-child(8) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  left: 20px;
  bottom: -81px;
}
/* 8 */
.clock-shape:nth-child(9) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  left: -79px;
  bottom: 37px;
}
/* 9 */
.clock-shape:nth-child(10) {
  background: linear-gradient(
    to right,
    var(--clock-grad-pri1),
    var(--clock-grad-pri2)
  );
  left: -107px;
  bottom: 191px;
}
/* 10 */
.clock-shape:nth-child(11) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  left: -55px;
  bottom: 341px;
}
/* 11 */
.clock-shape:nth-child(12) {
  background: linear-gradient(var(--clock-grad-sec1), var(--clock-grad-sec2));
  left: 60px;
  bottom: 435px;
}
