@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

/* ROOT COLOURS */

:root {
  --icon-color: rgb(8, 70, 121);
  --link-color: #f09819;
  --pri-color: steelblue;
  --sec-color: lightblue;
  --hoverTable: #d1daec;
  --selectTable: #aab7d1;
  --clock: var(--hoverTable);
  --secondHand: #e74c3c;
  --clock-grad-pri1: #050505;
  --clock-grad-pri2: #525150;
  --clock-grad-sec1: #f6f7f8ab;
  --clock-grad-sec2: #c0ccd48e;
}

/* HTML SECTION */

* {
  box-sizing: border-box;
}
/* BODY SECTION */

body {
  font-family: "Raleway", "sans-serif";
  background-color: var(--pri-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* SHAPES (BODY) */

.bg-shapes {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: -1;
}
.bg-shapes .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -80px;
  bottom: -80px;
}

/* CONTAINER SECTION */

.container {
  max-width: 1200px;
}

.container-welcome {
  height: 100%;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 10px;
  padding: 10% 10%;
  text-transform: capitalize;
}

.container h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 10% auto;
}

.container a {
  text-decoration: none;
  color: var(--sec-color);
}

.container a:hover {
  text-decoration: underline;
  color: var(--icon-color);
  font-weight: bold;
}

#message {
  color: yellow;
}

.text {
  margin-top: 30px;
}

.my-form {
  height: 480px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.login__icon,
.fa-solid {
  position: absolute;
  top: 30px;
  right: 0px;
  color: rgb(70, 105, 180);
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: var(--sec-color);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--icon-color);
  transform: translateY(-30px);
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(
    144deg,
    var(--pri-color),
    var(--sec-color) 50%,
    var(--pri-color)
  );
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: black;
}

.btn:active {
  transform: scale(0.98);
}

/* NAVIGATION SECTION */

.container-nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: var(--icon-color);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.logo li {
  display: flex;
  list-style-type: none;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: black;
}

.nav.active .container {
  padding: 10px;
}

.nav a.current,
.nav a:hover {
  color: var(--link-color);
  font-weight: bold;
}

.nav .container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}

.nav .container-nav h1 {
  text-transform: capitalize;
}

/* FOOTER SECTION */

.footer {
  position: fixed;
  background-color: var(--icon-color);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#removeAdminBtn,
#makeAdminBtn,
#deleteUserBtn {
  position: relative;
  cursor: pointer;
  background: var(--icon-color);
  width: auto;
  color: white;
  padding: 5px;
  font-family: inherit;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
}

#deleteUserBtn:hover,
#makeAdminBtn:hover,
#removeAdminBtn:hover {
  color: var(--link-color);
  font-weight: bold;
}

#deleteUserBtn:active,
#makeAdminBtn:active,
#removeAdminBtn:active {
  transform: scale(0.98);
}

#removeAdminBtn:disabled,
#makeAdminBtn:disabled,
#deleteUserBtn:disabled {
  color: rgb(104, 103, 103);
  cursor: not-allowed;
}

#removeAdminBtn:disabled:hover,
#makeAdminBtn:disabled:hover,
#deleteUserBtn:disabled:hover {
  color: rgb(163, 3, 3);
  text-decoration: line-through;
  text-decoration-color: red;
  cursor: not-allowed;
}

/* CLOCK SECTION */

.user-container {
  height: 480px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container h1 {
  font-size: 50px;
  text-transform: capitalize;
}

.time {
  font-size: 60px;
}

.date {
  color: var(--icon-color);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  background-color: white;
  color: var(--icon-color);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}
